/* Duver Olmedo Uni Fernandez */

.titulo{
    color: red;
    text-align: center;

    font-size: 3em;
    font-style: italic;


}

.parrafo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
}

.parrafo1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
}

.parrafo2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5;    
    font-weight: 600;
    font-style: oblique;
}
.parrafo3{
    font-size: 1.5em;
    font-weight: 700;
    font-style: initial;
}
.parrafo4{
    font-size: 1.5em;
    font-weight: 800;
    font-style: inherit;
}
.parrafo5{
    font-size: 1.5em;
    font-weight: 900;
    font-style: unset;
}