/* Duver Olmedo Uni Fernandez */
.titulo{
    color: red;
    text-align: center;
}
.h2{
    background-color: indigo;
    text-align: center;
}
.subtitulo{
    color: green;

}
.parrafo{
    font-family: 'Courier New', Courier, monospace;
}

#pvghcg{
    color: indigo;
}


