h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
}
div.tabla {
    width: 40%;
    margin: 0 auto 0 auto;
}
/* tr, th, td {
    border: 1px solid #fb5b04;
} */
th {
    border-top: 2px solid darkcyan;
    border-bottom: 2px solid darkcyan;

}
table {
    border-collapse: collapse;
    font-family: 'Merriweather', serif;
}
th, td {
    padding: 0.3em 0.6em 0.3em 0.6em;
}
td {
    text-align: center;
    font-weight: 300;

}
.floor {
    vertical-align: top;
}
.even-row {
    background-color: gainsboro;
}