h1 {
    text-align: center;
}
div.size-porcentaje{
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: darkcyan;
}
p.size-ems {
    font-size: 1em;
}
p.size-px{
    font-size: 16px;
}
img.apple{
    width: 256px;
    height: 256px;
    margin: 0 auto 0 auto;
    display: block;
    
}
img.Boston {
    width: 100%;
    
}