.font-tahoma {
font-family: Tahoma, Geneva, Verdana, sans-serif
}
.font-courier{
    font-family: 'Courier New', Courier, monospace;
    
}
.font-trebuchet{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.font-google-shadows{
    font-family: 'Shadows Into Light', cursive;
     
}